/* Typography */

.competition-searchzone-option{
    font-size: 16px;
    letter-spacing: -0.1em;
    color: #B1B1B1;
}
#competition-searchzone-black {
    color: black;
}

.each-competition-body-poster h1{
    letter-spacing: -0.12rem;
    font-size: 2.8rem;
    font-weight: 400;
    color: #FFFFFF;
    z-index: 2;
}

.each-competition-body-poster h1 span{
    font-size: 2rem;
    margin-left: 0.2rem;
    letter-spacing: -0.12rem;
    color: #FFFFFF;
    z-index: 2;
}

.each-competition-body-desc-top p{
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.12rem;
    line-height: 1.1;
    max-width: calc(100% - 18px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.each-competition-body-desc-middle p{
    /* max-width: 90%; */
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.12rem;
    line-height: 18px;
    max-width: calc(100% - 24px);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: #696969;
}

/* Layout */

.competition-schedule-wrapper{
    width: auto;
    max-width: 1200px;
    min-height: 84vh;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.competition-searchzone{
    height: 10vh;
    display: flex;
    align-items: end;
   
}

.competition-searchzone-searchbar{
    margin-left: auto;
    margin-bottom: 1.2rem;
    position: relative;
}

.competition-list{
    height: 74vh;
    border-top: 1px solid #E7EAF6;
    padding-top: 2.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.competition-list::-webkit-scrollbar {
    width: 6px;
    
}
.competition-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gainsboro;
}

.competition-row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -1rem; /* 이거중요 */
}

.competition-col{
    width: 33.3%;
    flex-shrink: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 2.4rem;
    height: 162px;
}

/*카드 비활성화*/
#competitionCardGray-all p,
#competitionCardGray-all button{
    color: #8C8C8C;
    cursor: default;
}

#competitionCardGray-button button{
    color: #8C8C8C;
    cursor: default;
}

/*Component*/

.competition-searchzone-option{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
   
    width: 100px;
    height: 36px;
    border: 1px solid #ADADAD;
    border-radius: 10px;

    padding: 0 1.4rem;
    margin-right: 0.8rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
}

.competition-searchzone-option img{
    margin-left: auto;
}

.competition-searchzone-option ul{
    left: 0;
    top: 40px;
    position: absolute;
    width: 100px;
    height: 150px;
    background: #FCFCFC;
    border: 1px solid #000000;
    border-radius: 10px;
   
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 11;
}

.competition-searchzone-option ul::-webkit-scrollbar{
    width: 1px;
}

.competition-searchzone-option li{
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    color: #828282;
    padding-left: 1.2rem;
    /* background: #FCFCFC; */
}
.competition-searchzone-option li:hover{
    background-color: #F5F5F5;
}

.competition-searchzone-searchbar input{
    width: 240px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 50px;

    padding-top: 4px;
    padding-left: 1.4rem;
    padding-right: calc(1.4rem + 24px);
}
.competition-searchzone-searchbar input::placeholder {
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    color: #B1B1B1;
}

/* 검색 드랍다운 활성화 스타일 */
#competition-searchzone-active {
    color: #000000;
    font-weight: 500;
    background-color: #F5F5F5;
}

.competition-searchzone-searchbar img{
    position: absolute;
    right: 1.4rem;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.each-competition-tag{
    height: 20px;
    margin-bottom: 2px;
    display: flex;
}

.each-competition-tag-red{
    background: #FFF3F3;
    color: #FF5F5F;
    font-size: 14px;
    letter-spacing: -0.1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 5px;
}

.each-competition-tag-red p{ /*수직정렬 맞췄지만 p태그안에 수직이 뭔가 안맞아서 인위적으로 p태그를 이동시킴 */
    margin-top: 2px; 
}

.each-competition-tag-blue{
    background: #F3F7FF;
    color: #4E82E5;
    font-size: 14px;
    letter-spacing: -0.1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 5px;
}

.each-competition-tag-blue p{ /*수직정렬 맞췄지만 p태그안에 수직이 뭔가 안맞아서 인위적으로 p태그를 이동시킴 */
    margin-top: 2px;
}

.each-competition-tag-gray{
    background: #F0F0F0;
    color: #8C8C8C;
    font-size: 14px;
    letter-spacing: -0.1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 5px;
}

.each-competition-tag-gray p{ /*수직정렬 맞췄지만 p태그안에 수직이 뭔가 안맞아서 인위적으로 p태그를 이동시킴 */
    margin-top: 2px;
}

.each-competition-body{
    display: flex;
    height: 140px;
    border: 1px solid #D9E0E4;
    border-radius: 10px;
    overflow: hidden;
}

.each-competition-body-poster{
    min-width: 108px;
    position: relative;
}

.each-competition-body-poster img{
    width: 100%;
    height: 100%;
}

.each-competition-body-poster-block{
    position: absolute;
    background: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.each-competition-body-poster h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.each-competition-body-desc{
    min-width: calc(100% - 108px);
    box-sizing: border-box;
    padding-left: 8px;
}

.each-competition-body-desc-top{
    height: 70px;
    display: flex;  /* 수직 가운데정렬을 위한 2중콤보 */
    align-items: center;
    cursor: pointer;
}
.each-competition-body-desc-top p:hover {
    font-weight: 500;
}

.each-competition-body-desc-middle{
    height: 20px;
    display: flex; /* 수직 가운데정렬을 위한 2중콤보 */
    align-items: center;
}

.each-competition-body-desc-bottom{
    height: 50px;
    position: relative;
}

.each-competition-body-desc-bottom button{
    width: 74px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #4E82E5;
    font-size: 16px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    font-weight: 500;
}

.each-competition-body-desc-bottom button:hover {
    background-color: #4E82E5;
    border: 1px solid #4E82E5;
    color: white;
    /* font-weight: 600; */
}

@media(max-width:1049px){
    /* Layout */
    .competition-schedule-wrapper{
        max-width: 768px;
    }

    .competition-col{
        width: 50%;
    }
}

@media(max-width:750px){
    /* Typography */

    .competition-searchzone-option{
        font-size: 14px;
    }


    /* Layout */

    .competition-schedule-wrapper{
        max-width: 650px;
        height: 88vh;
    }
    .competition-col{
        width: 100%;
    }
    .competition-list{
        height: 78vh;
    }

    /* component */

    .competition-searchzone-searchbar input{
        height: 30px;
        width: 180px;
        padding-left: 1rem;
        padding-right: calc(1rem + 24px);
        padding-top: 2px;
    }
    .competition-searchzone-searchbar input::placeholder {
        font-size: 1.4rem;
    }

    .competition-searchzone-searchbar img{
        right: 1rem;
    }

    .competition-searchzone-option{
        padding: 0 1rem;
        width: 85px;
        height: 30px;
    }
}
