/* UA reset */


li {
    list-style: none;
}

/* Typography */

:root {
    font-size: 62.5%; /* 10px */
  }

.competition-searchzone-title{
    font-size: 20px;
    text-align: center;
}


.competition-searchzone-input::placeholder{
    color: #B1B1B1;
    font-size: 13px;
    padding-left: 3%;
}

.competition-searchzone-input:focus{
    outline: none;
    padding-left: 3%;
}

.each-competition-top-date h1{
    font-size: 24px;
    color: white;
}

.each-competition-top-date span{
    font-size: 16px;
    color: white;
}

.each-competition-top-location-tag h2{
    font-size: 20px;
    letter-spacing: -0.12em;
}

.each-competition-top-location-tag h3{
    font-size: 18px
}

.each-competition-bottom h4{
    font-size: 18px;

}

.each-competition-bottom button{ /*버튼디자인 */
    color: #8C8C8C;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #F9F9F9;
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    padding: 8px 10px;
}

.each-competition-bottom button:hover{
    transform: scale(1.1);
}

/* Layout */

.competition-schedule-wrapper{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.competition-searchzone{
    height: 20vh;
    /* padding-top: 3vh; */
    box-sizing: border-box;
    display: flex; /* 수직정렬을 위한 3종세트 display, align-items, justify-content */
    align-items: center;
    justify-content: center;
    
}

.competition-searchzone-wrapper{
    width: 35%;
    margin: 0 auto;
    box-sizing: border-box;
}

.competition-searchzone-options{
    display: flex;
    box-sizing: border-box;
}

.competition-searchzone-options-location,
.competition-searchzone-options-date{
    width: 100%;
    margin: 0 5%;
}

.competition-list{
    height: 64vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.competition-row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -1rem; /* 이거중요 */
}

.competition-col{
    width: 33.3%;
    flex-shrink: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    height: 180px;
}

/*Component*/

/* .each-competition{
    background-color: dodgerblue;
} */

.competition-searchzone-title::after{
    content:' ';
    display: block;
    height: 1.4vh;
    width: 2px;
    margin: 0 auto;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    background-color: white;
}

.competition-searchzone-input{
    width: 100%;
    border: 1px solid #DEDEDE;
    filter: drop-shadow(0.5px 1px 2px rgba(0, 0, 0, 0.25)); 
    border-radius: 50px;
    margin-bottom: 1.5vh;
    height: 30px;
    box-sizing: border-box
}

.competition-searchzone-fake{
    position: relative;
}

.competition-searchzone-input-icon{
    position: absolute;
    right: 3%;
    margin-top: 3px;
    z-index: 1;
    cursor: pointer;
}

.each-competition-top{
    display: flex;
    height: 126px;
}

.each-competition-bottom{
    display: flex;
    height: 54px;
    position: relative;
    align-items: center;   /* align 세로 */
}

.each-competition-top-date{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),  url(http://localhost:3000/Assets/대회배경.svg);
    background-position: center;
    background-size: cover;
    width: 28%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;   /* align 세로 */
}

.each-competition-top-location{
    width: 72%;
    border: 1px solid #D9E0E4;
    padding-left: 10px;
    display: flex;
    align-items: center;   /* align 세로 */
}

.each-competition-bottom-buttons{
    position:absolute;
    right: 0;
}

.each-competition-bottom-buttons button{
    margin-right: 5px;    
}

.each-competition-bottom h4{
    margin-right: 10px;
}


@media(max-width:1049px){
    /* Layout */
    .competition-schedule-wrapper{
        max-width: 768px;
    }

    .competition-col{
        width: 50%;
    }
    .competition-searchzone-wrapper{
        width: 60%;
    }
}

@media(max-width:750px){
    /* Typography */
    .each-competition-bottom h4{
        font-size: 16px;
    }
    
    .each-competition-bottom button{ /*버튼디자인 */
        font-size: 14px;
    }


    /* Layout */

    .competition-schedule-wrapper{
        max-width: 650px;
    }

    .competition-col{
        width: 100%;
    }

    .competition-searchzone-wrapper{
        width: 90%;
    }
    .competition-list{
        height: 68vh;
    }
    /*Component*/


    
    .each-competition-bottom h4{
        margin-right: 5px;
    }


}
