@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR&display=swap');

/* Typography */
:root {
  --gray-nav-color: #888888;

  --black-title-color: #000000;
  --gray-subtitle-color: #3d3d3d;
  --gray-info-color: #a0a0a0;
  --blue-background-color: #f2f7ff;
  --blue-impact-color: #90ccf8;
  --white-color: white;
  --gray-buttonStroke-color: #acacac;
  --gray-belt-color: #d7d7d7;

  font-size: 62.5%; /* 10px */

  --font-size-navlogo: 4rem;
  --font-size-navlist: 2rem;
  --font-size-title1: 5rem;
  --font-size-subtitle1: 2.4rem;
  --font-size-subinfo: 1.8rem;
  --font-size-title2: 3.6rem;
  --font-size-subtitle2: 1.8rem;
}

/* Layout */
.MainScroll_wrapper {
  justify-content: center;
  scroll-behavior: smooth;
}

.MainScroll_section1,
.MainScroll_section1-1 {
  position: fixed;
}

/* Components */

/* section 1 */

.MainScroll_section1 {
  /* background-image: url(../src_assets/jiujitsuGuys.jpg); */
  /* background-size: cover;
    background-position: 50% 90%; */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
}

.MainScroll_bgImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: 10;
}

.MainScroll_black {
  position: absolute;
  height: 100vh;
  z-index: 20;
  left: 20vw;
  width: 80vw;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(6, 0, 0, 0) 100%
  );
}
.MainScroll_black2 {
  position: absolute;
  height: 100vh;
  z-index: 20;
  width: 100vw;
}

/* 나는 주짓수가 하고싶다 */
.MainScroll_message {
  position: absolute;
  top: 20%;
  left: 58%;
  z-index: 30;
}

.MainScroll_message h1 {
  color: var(--white-color);
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 11rem;
}

.MainScroll_message2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  text-align: center;
}

.MainScroll_message2 h2 {
  color: var(--white-color);
  font-weight: 500;
  font-size: 4rem;
  line-height: 8rem;
}

.MainScroll_none {
  opacity: 0;
}

.MainScroll_fadein {
  opacity: 1;
  transition: 0.5s;
}

.MainScroll_fadeout {
  opacity: 0;
  transition: 0.5s;
}

.MainScroll_message span {
  font-weight: 900;
  font-size: 10rem;
  line-height: 11rem;
}

.MainScroll_section1-1 {
  height: 580vh;
  position: relative;
  background-color: #000000;
}

.MainScroll_section2 {
  height: 100vh;
  background-color: white;
  z-index: 100;
  position: relative;
}

/* section 2 */
.MainScroll_section2 {
  align-items: center;
  text-align: center;
  height: 150vh;
}

.MainScroll_title1 {
  margin-top: 3rem;
}

.MainScroll_section2 h1 {
  position: relative;
  font-size: var(--font-size-title1);
  line-height: 7rem;
  font-weight: 700;
  z-index: 2;
}

.MainScroll_section2 h2 {
  font-size: var(--font-size-subtitle1);
  color: var(--gray-subtitle-color);
  line-height: 3.6rem;
  font-weight: 400;
  margin-top: 8.2rem;
  margin-bottom: 4rem;
}

.MainScroll_blueLine {
  background: #90ccf8;
  width: 20rem;
  height: 2rem;
  border-radius: 25px;
  position: absolute;
  top: 19.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* 중간 그라데이션 */
.MainScroll_linear1 {
  position: relative;
  z-index: 888;
  height: 18.4rem;
  background: linear-gradient(180deg, #ffffff 0%, #f2f7ff 100%);
}

/* section 3 */

.MainScroll_section3 {
  position: relative;
  z-index: 888;
  background-color: var(--blue-background-color);
  height: 170vh;
}

.MainScroll_section3 h1 {
  position: relative;
  font-size: var(--font-size-title1);
  line-height: 7rem;
  font-weight: 700;
  z-index: 2;
  /* max-width: 821px; */
}

.MainScroll_title2 {
  max-width: 82.1rem;
  margin: 0 auto;
  padding-top: 6rem;
}

.MainScroll_blueLine2 {
  background: #90ccf8;
  width: 20rem;
  height: 2rem;
  border-radius: 25px;
  position: absolute;
  top: 25.8rem;
  left: 8rem;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.MainScroll_phone {
  display: flex;
  justify-content: center;
}

.MainScroll_phone img {
  height: 80rem;
}

.MainScroll_phone1 {
  margin-top: 8.6rem;
}

.MainScroll_phone2 {
  margin-left: 9rem;
  margin-top: -20rem;
}

.MainScroll_phone1 p {
  font-size: var(--font-size-subinfo);
  color: var(--gray-info-color);
  margin-left: 2rem;
}

.MainScroll_phone2 h2 {
  font-size: var(--font-size-subtitle1);
  color: var(--gray-subtitle-color);
  line-height: 3.6rem;
  margin-left: 2rem;
}

/* 중간 그라데이션 */
.MainScroll_linear2 {
  position: relative;
  z-index: 888;
  height: 18.4rem;
  background: linear-gradient(180deg, #f2f7ff 0%, #ffffff 100%);
}

/* section 4 */

.MainScroll_section4 {
  position: relative;
  z-index: 888;
  background-color: white;
  height: 100vh;
  /* align-items: center; */
  text-align: center;
}

.MainScroll_section4 h1 {
  position: relative;
  font-size: var(--font-size-title2);
  line-height: 4.6rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  z-index: 2;
}

.MainScroll_blueLine3 {
  background: #90ccf8;
  width: 21.7rem;
  height: 1rem;
  border-radius: 25px;
  position: absolute;
  top: 12.7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.MainScroll_title3 h2 {
  font-size: var(--font-size-subtitle2);
  color: var(--gray-subtitle-color);
  margin-top: 2.7rem;
}

/* 카드 슬라이드 디자인 */
.MainScroll_slide {
  margin-top: 67px;
}

.MainScroll_card {
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  max-width: 520px;
}

#card {
  position: static;
  text-align: center;
  justify-content: center;
}

.MainScroll_card img {
  width: 227px;
  height: 296px;
}

.arrow {
  position: absolute;
  z-index: 999;
}
