/* UA reset */


/* Typography */

:root {
    font-size: 62.5%; /* 10px */
  }



/* Layout */

.Profilesection_wrapper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 2rem;
    box-sizing: border-box;
    display: flex;
}

.Profilesection_left {
    /* border: 2px solid yellow; */
    width: 28%;
    height: 84vh;
}

.Profilesection_right {
    width: 68%;
    height: 84vh;
    margin-left: 4%;
    overflow-y: auto;
}
.Profilesection_right::-webkit-scrollbar {
    width: 6px;
    background-color: #f3f3f3;
    border-radius: 10px;
}
.Profilesection_right::-webkit-scrollbar-thumb {
    background-color: #DEDEDE;
    border-radius: 10px;
    height: 3%;
  }

/* Components */

.Profilesection_right h2 {
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    font-weight: 400;
}

.Profilesection_competitonNav {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    letter-spacing: -0.2rem; 
    text-align: center;
}

.Profilesection_competitonNav li:after {
    display: block;
    content: "";
    width: 100px;
    /* border-bottom: 1px solid #a01a1a; */
    padding: 0.5rem;
}

.Profilesection_active {
    font-weight: 600;
}
.Profilesection_competitonNav .Profilesection_active:after {
    border-bottom: 4px solid black;
}

.Profilesection_hr{
    margin-top: -0.2rem;
    height:1px;
    border:0;
    background-color : #F0F0F0;
}

#payInfoBtn {
    background-color: #F9F9F9;
    color: #7e7e7e;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    box-sizing: border-box;
    width: 7.2rem;
    height: 3.4rem;
    font-size: 1.6rem;
    margin: 0 4px;
}

#payInfoBtn:hover {
    cursor: pointer;
    background-color: #E2E2E2;
}

@media(max-width:1049px){
    /* Layout */

    .Profilesection_wrapper {
        max-width : 768px;
    }
        
    .Profilesection_wrapper #ProfilesectionTap_wrapper {
       display: none;
    }

    .Profilesection_right {
        width: 100%;
        margin-left: 0%;
    }

    #payInfoBtn {
        width: 6.6rem;
        height: 3.2rem;
        font-size: 1.4rem;
        margin: 0 4px;
    }
}

@media(max-width:750px) {
    .Profilesection_wrapper {
        max-width:650px;
    }

    .Profilesection_right {
        height: 88vh;
    }
    
    .Profilesection_right h2 {
        font-size: 2.6rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }
    #payInfoBtn {
        width: 8rem;
        height: 3.2rem;
        font-size: 1.4rem;
        margin: 0 4px;
    }
}