/* UA reset */


/* Typography */

:root {
    font-size: 62.5%; /* 10px */
  }

/* Layout */

.Profilesection_wrapper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 2rem;
    box-sizing: border-box;
    display: flex;
}

.Profilesection_left {
    /* border: 2px solid yellow; */
    width: 28%;
    height: 84vh;
}

.Profilesection_right {
    width: 68%;
    height: 84vh;
    margin-left: 4%;
    overflow-y: auto;
}
.Profilesection_right::-webkit-scrollbar {
    width: 6px;
    background-color: #f3f3f3;
    border-radius: 10px;
}
.Profilesection_right::-webkit-scrollbar-thumb {
    background-color: #DEDEDE;
    border-radius: 10px;
    height: 3%;
  }

/* Components */

.Profilesection_right h2 {
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    font-weight: 500;
}
.Profilesection_competitonNavbar {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    padding-top: 4rem;
    border-bottom: solid 1px #F0F0F0;
    box-sizing: border-box;
}

.Profilesection_competitonNav {
    color: #B4B4B4;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    letter-spacing: -0.2rem; 
    text-align: center;
}

.Profilesection_competitonNav li:after {
    display: block;
    content: "";
    width: 100px;
    /* border-bottom: 1px solid #a01a1a; */
    padding: 0.5rem;
}

.Profilesection_active {
    color: #000000;
    font-weight: 600;
}
.Profilesection_competitonNav .Profilesection_active:after {
    border-bottom: 4px solid black;
}

.Profilesection_competitonHr {
    height:4px;
    border:0;
    background-color : #FBFBFB;
    margin-bottom: 2rem;
}

/* 대회 리스트 목록 */
.Profilesection_competitonNav {
    cursor: pointer;
}

.Profilesection_competitonList {
    /* border : solid 1px red; */
    padding: 4px;
}

.Profilesection_competitoninfo {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #8C8C8C;
    text-align: right;
    padding: 0.4rem;
    letter-spacing: -0.12rem;
}

.Profilesection_competitoninfo a,
.Profilesection_competitoninfo img {
    cursor: pointer;
} 

/* 대회 박스 */

.Profilesection_competitoninfo a {
    margin-bottom: 1rem;
}

.Profilesection_competitoninfo img {
    margin-left: 0.5rem;
    margin-bottom: -1px;
}

.Profilesection_competitonbox {
    border : solid 1px #ECECEC;
    height: 16.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -6rem;
    border-radius: 10px;
    display: flex;
}

.Profilesection_boxDelete {
    margin-left: 96.5%;
    margin-top: 1rem;
}
.Profilesection_boxDeleteHidden {
    display: none;
}

.Profilesection_boxLeft {
    /* border : solid 1px red; */
    width: 15%;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Profilesection_boxLeft img {
    width: 100%;
    height: 100%;
}

.Profilesection_posterBlack {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.Profilesection_boxLeft h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    color: white;
    letter-spacing: -0.04rem;
    z-index: 10;
}

.Profilesection_boxRight {
    /* border : solid 1px blue; */
    width: 85%;
    margin-bottom: 2rem;
    letter-spacing: -0.1rem;

    overflow: hidden; 
}

.Profilesection_boxRight img {
    cursor: pointer;
    margin-bottom: 1rem;
}

.Profilesection_deleteNone {
    display: block;
    height: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Profilesection_boxRightTitle {
    width: 98%;
    padding-bottom: 0.4rem;
    height: 65%;
    align-items: center;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.Profilesection_boxRightTitle h3 {
    margin-bottom: 1rem;
    font-size: 2.4rem;

    height: 1.8em;
    display: block;
    /* white-space: normal; */
    white-space: nowrap;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Profilesection_boxRightTitle p {
    color: #696969;
}

.Profilesection_boxRightCost {
    display: flex;
    margin-right: 2rem;
    margin-bottom: 6rem;
    box-sizing: border-box;
}

.Profilesection_costLayout {
    color: #8C8C8C;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.Profilesection_costLayout h3{
    font-size: 1.4rem;
    margin-right: -0.4rem;
}

.Profilesection_costLayout p{
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 0.8rem;
}

.Profilesection_costBtn {
    width: 84px;
    height: 37px;
    border-radius: 30px;
    border: 1px solid #F1F1F1;
    text-align: center;
    background: #FFFFFF;
    color: #8C8C8C;
    font-weight: 400;
    font-size: 1.6rem;
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.25);
}

.Profilesection_costBtn {
    cursor: default;
}

.Profilesection_payCss .Profilesection_costBtn {
    cursor: pointer;
}


/* 결제하기 금액 + 버튼 효과 */
.Profilesection_payCss {
    color: #000000;
}
.Profilesection_payCss .Profilesection_costBtn{
    color: #4E82E5;
}

@media(max-width:1049px){
    /* Layout */

    .Profilesection_wrapper {
        max-width : 768px;
    }
        
    .Profilesection_wrapper #ProfilesectionTap_wrapper {
       display: none;
    }

    .Profilesection_right {
        width: 100%;
        margin-left: 0%;
    }

    #payInfoBtn {
        width: 6.6rem;
        height: 3.2rem;
        font-size: 1.4rem;
        margin: 0 4px;
    }
}

@media(max-width:750px) {
    .Profilesection_wrapper {
        max-width:650px;
    }

    .Profilesection_right {
        height: 88vh;
    }
    
    .Profilesection_right h2 {
        font-size: 2.6rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }
    .Profilesection_competitonNav li:after {
        width: 90px;
    }

    .Profilesection_boxDelete {
        margin-left: 92%;
        margin-top: 1rem;
    }

    .Profilesection_competitonbox {
        height: 125px;
        margin-bottom: 0.6rem;
    }

    .Profilesection_boxLeft {
        margin: 0rem;
        width: 104px;
        margin-right: 0.8rem;
    }

    .Profilesection_boxLeft h3 {
        font-size: 2.4rem;
    }


    .Profilesection_boxRight img {
        margin-bottom: 0;
    }

    .Profilesection_boxRightTitle h3 {
        font-size: 2rem;
        height: 1.4em;
    }

    .Profilesection_boxRightTitle p {
        font-size: 1.4rem;
    }

    .Profilesection_boxRightCost {
        display: flex;
        /* border: solid 1px red; */
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .Profilesection_boxRightCost p{
        font-size: 1.8rem;
    }
    .Profilesection_boxRightCost h3 {
        font-size: 1.4rem;
    }
    .Profilesection_costBtn{
        font-size: 1.6rem;
        width: 80px;
        height: 36px;
    }

}