
.ScrollPageOne_wrapper {
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 110px;
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    scroll-behavior: smooth;
}

.ScrollPageOne_wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
}

#ScrollPageOne_gym-front {
    z-index: 50;
    position: fixed;
}
#ScrollPageOne_back {
    opacity: 1;
    transition: 0.5s;
}
#ScrollPageOne_gym-background {
    position: fixed;
}
#ScrollPageOne_players {
    position: fixed;
    z-index: 30;

    animation: motion 0.4s /* 속도 */
    linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */
}
#ScrollPageOne_competition-background {
    z-index: 20;
}

.ScrollPageOne_wrapper h1{
    z-index: 999;
    font-weight: 700;
}

.ScrollPageOne_ment1 {
    position: fixed;
    padding-top: 10%;
    padding-left: 10%;
}

.ScrollPageOne_ment2 {
    position: fixed;
    padding-top: 20%;
    padding-left: 60%;
}

.ScrollPageOne_fadein {
    opacity: 0;
    transition: 0.5s;
}

.ScrollPageOne_fadeout {
    opacity: 1;
    transition: 0.5s;
}

@keyframes motion {
    0% {margin-top: 0px;} /* 처음 위치 */
    100% {margin-top: 10px;} /* 마지막 위치 */
}